---
---

@import "{{ site.theme }}";

.social-media-list {
  overflow: hidden;
}

img + em, .centered a + em {
  display: block;
  text-align: center;
}

.centered {
  text-align: center;
}

.left-inline {
  display: inline-block;
  max-width: 49%
}

.after-left-inline {
  display: inline-block;
  vertical-align: top;
  max-width: 49%;
}

.half-width {
  display: inline-block;
  max-width: 49%;
}
